!!!
%html
  %head
    %meta{ content: "text/html; charset=utf-8", "http-equiv" => "content-type" }
    %title
      lgtm
  %body
    #description
      http://#{@domain}/:url_of_animated_gif

    #bookmarklet_wrapper
      bookmarklet:
      %a{ href: "javascript:(function() {location.href = 'http://#{@domain}/' + location.href;})()" }
        LGTM

    #ext_wrapper
      Also you can copy link / markdown easily with
      %a{ href: "https://chrome.google.com/webstore/detail/lgtmify/nbbfoappojcjaihpopkiekdleojmmffe", target: '_blank' }
        Chrome Extension

    %img{ src: '/http://38.media.tumblr.com/a9370cefa5bb5720a465e34110343c24/tumblr_mxokrkcHXy1rt5ktoo1_500.jpg', id: 'demo' }

    #github_link
      %a{ href: 'https://github.com/negipo/lgtm' }
        github
